.Apps {
  background-color: black;
  color: white;
  padding-top: 50px;
  height: 740px;
  text-align: center;
  margin: 0 auto;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
}

.avatar {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  padding: 10px;
}

.disabledBtn,
.activeBtn {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  background-color: rgb(115, 71, 157);
  font-size: 20px;
  border-radius: 10px;

  margin-top: 40px;
}

.activeBtn:hover {
  background-color: rgb(160, 131, 189);
}

.disabledBtn:hover {
  cursor: default;
}

/*Responsive design*/
@media screen and (min-width: 550px) and (max-width: 800px) {
  .App {
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
}
  .Apps {
    background-color: black;
    height: 900px;
  }
}

@media screen and (max-width: 550px) {
  .App {
    grid-template-columns: repeat(1, 1fr);
  }
  .Apps {
    background-color: black;
    height: 1500px;
  }
}

